#root {
  max-width: 1280px;
  margin: 0 auto; /* Center horizontally */
  padding: 2rem;
  text-align: center;
  background-color: #1e2326;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
   margin-bottom: 1rem;
}

/* .hero-img {
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  margin-bottom: 1rem;
} */

.hero h1 {
  font-size: 2rem;
  margin: 0.5rem 0;
}

.hero p {
  font-size: 1.2rem;
  color: #666;
}
#app-content{
  display: flex;
}
.hero, 
img{
  justify-items: center;
  display: inline;
}
.inner{
  flex-direction: row;
  height: 100%;
}
.inner > *{
  flex-direction: row;
  height: 100%;
}
.theme-toggle {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 4rem;
  padding: 2rem;
  color: inherit;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
